link(href='/static/css/menu.css' rel='stylesheet' type='text/css')
script(src='/static/js/menu.js' defer='')
#menuButton Menu
nav
  ul
    li
      a(href='/userpage/profil') Profil
    li
      a(href='/admin/users') Brugere
    li
      a(href='/userpage/vagter') Kalender
    li
      a(href='/aabningstider/aabningstider') Åbningstider
    li
      a(href='/aabningstider/rediger') Rediger åbningstider
    li 
      a(href='/aabningstider/addAabningstid') Tilføj åbningstider
    li
      a(href='/login/logout') Logout